/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --font-family: "IBM Plex Mono", sans-serif;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --title-color: #DB00FF;
    --background-color: #000028;
    --background-image: url("../images/cover-image-dark.png");
  }

  @media (prefers-color-scheme: dark) {

  .theme_auto .page {
  background-image: url("../images/cover-image.png");
  }

  .theme_auto .header__theme-menu-button_type_auto {
    border: 1px solid var(--accent-color);
  }

  .theme_auto .header__theme-menu-button_type_dark {
    border: none;
  }
}
